<div class="row">
	<div class="seven wide centered column">
		<h1>Ziptopia: Login</h1>
		<h2>Data mining a fake world has never been so fun.</h2>
		<p>You just have to log in first</p>
	</div>
</div>
<div class="row">
	<div class="seven wide column">
		<form ng-submit="checkLogin()" class="ui form">
			<div class="field">
				<label>User Name</label>
				<input type="text" ng-model="loginAuth.username" id="username" placeholder="User Name" />
			</div>
			<div class="field" ng-hide="!loginAuth.errors">
				<div class="ui labeled fluid button" tabindex="0">
					<div class="ui red fluid button">
						<i class="remove user icon"></i> Trouble in Zip Town!
					</div>
					<a class="ui red basic fluid label">
						Check Username/Password
					</a>
				</div>
			</div>
			<div class="field">
				<label>Password</label>
				<input type="password" ng-model="loginAuth.password" id="password" placeholder="Password" />
			</div>
			<input class="ui fluid purple button" type="submit" value="Login"></input>
		</form>
	</div>
	<div class="two wide column">
		<div class="ui vertical divider">
			Or
		</div>
	</div>
	<div class="seven wide column">
		<form class="ui form">
			<div class="field">
				<label>User Name</label>
				<input type="text" ng-model="registerAuth.username" id="username" placeholder="User Name" />
			</div>
			<div class="field" >
				<label>Full Name</label>
				<input type="text" ng-model="registerAuth.fullname" id="fullname" placeholder="Full Name" />
			</div>
			<div class="field" >
				<label>Email</label>
				<input type="text" ng-model="registerAuth.email" id="email" placeholder="Email" />
			</div>
			<div class="field">
				<label>Password</label>
				<input type="password" ng-model="registerAuth.password" id="password" placeholder="Password" />
			</div>
			<button class="ui disabled fluid button">
				<i class="user icon"></i>Registration Opening Soon
			</button>
		</form>
	</div>
</div>