<div class="seven wide centered column">
	<h1>Secure Cloud Initiative Dashboard</h1>
</div>
<div class="sixteen wide column" style="height: 100%">
	<div class="ui grid">
		<div class="row">
			<div class="five wide left column" id="products-quick-widget">
				<div class="ui stacked  green segment">
					<h2>Products Quick Links</h2>
					<a href="/#/products" class="ui animated fade blue fluid button" tabindex="0">
						<div class="visible content">Products Dashboard</div>
						<div class="hidden content">
							Go Now <i class="sign in green icon"></i>
						</div>
					</a>
					<div class="ui horizontal divider">
						
					</div>
					<product-launch></product-launch>
					
					
					
				</div>
			</div>

			<div class="five wide centered column">
				<div class="ui stacked green fluid segment">
					<h2>Qualys</h2>
					<a href="/#/qualys" class="ui animated fade blue fluid button" tabindex="0">
						<div class="visible content">Qualys Dashboard</div>
						<div class="hidden content">Go Now <i class="sign in green icon"></i></div>
					</a>
					
				</div>
			</div>

			<div class="five wide right column">
				<div class="ui stacked green fluid segment">
					<h2>WhiteHat</h2>
					<a href="/#/whitehat/" class="ui animated fade blue fluid button" tabindex="0">
						<div class="visible content">Whitehat Dashboard</div>
						<div class="hidden content">Go Now <i class="sign in green icon"></i></div>
					</a>
					
				</div>
			</div>
		</div>
		<div class="row">
			<div class="sixteen wide column">
				<div class="ui stacked green segment">
					<h2>Teams Quick Links</h2>
					<div class="ui three cards">

						<a class="ui blue card" href="/#/teams/saas">
							<div class="content">
								<div class="header">SAAS</div>
								<div class="meta">
									<span class="category">Product Team</span>
								</div>
								<div class="description">
									<p>Vulnerability Breakdown</p>
									<div class="ui statistics">
										<div class="red statistic">
											<div class="value">
												{{saas.level5}}
											</div>
											<div class="label">
												Total Level 5 Vulnerabilities
											</div>
										</div>
										<div class="orange statistic">
											<div class="value">
												{{saas.level4}}
											</div>
											<div class="label">
												Total Level 4 Vulnerabilities
											</div>
										</div>
										<div class="yellow statistic">
											<div class="value">
												{{saas.level3}}
											</div>
												<div class="label">
												Total Level 3 Vulnerabilities
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="extra content">
								<div class="right floated author">
									Go To The Dashboard Now
								</div>
							</div>
						</a>


						<a class="ui blue card" href="/#/teams/paas">
							<div class="content">
								<div class="header">PAAS</div>
								<div class="meta">
									<span class="category">Product Team</span>
								</div>
								<div class="description">
									<p>Vulnerability Breakdown</p>
									<div class="ui statistics">
										<div class="red statistic">
											<div class="value">
												{{paas.level5}}
											</div>
											<div class="label">
												Total Level 5 Vulnerabilities
											</div>
										</div>
										<div class="orange statistic">
											<div class="value">
												{{paas.level4}}
											</div>
											<div class="label">
												Total Level 4 Vulnerabilities
											</div>
										</div>
										<div class="yellow statistic">
											<div class="value">
												{{paas.level3}}
											</div>
												<div class="label">
												Total Level 3 Vulnerabilities
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="extra content">
								<div class="right floated author">
									Go To The Dashboard Now
								</div>
							</div>
						</a>


						<a class="ui blue card" href="/#/teams/iaas">
							<div class="content">
								<div class="header">IASS</div>
								<div class="meta">
									<span class="category">Product Team</span>
								</div>
								<div class="description">
									<p>Vulnerability Breakdown</p>
									<div class="ui statistics">
										<div class="red statistic">
											<div class="value">
												{{iaas.level5}}
											</div>
											<div class="label">
												Total Level 5 Vulnerabilities
											</div>
										</div>
										<div class="orange statistic">
											<div class="value">
												{{iaas.level4}}
											</div>
											<div class="label">
												Total Level 4 Vulnerabilities
											</div>
										</div>
										<div class="yellow statistic">
											<div class="value">
												{{iaas.level3}}
											</div>
												<div class="label">
												Total Level 3 Vulnerabilities
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="extra content">
								<div class="right floated author">
									Go To The Dashboard Now
								</div>
							</div>
						</a>

					</div>


					<a href="/#/teams/" class="ui animated fade blue fluid button" tabindex="0">
						<div class="visible content">Teams Overview Dashboard</div>
						<div class="hidden content">Go Now <i class="sign in green icon"></i></div>
					</a>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="sixteen wide column">
				<div class="ui stacked green segment">
					<div class="ui styled fluid accordion">
						<div class="title">
							<i class="table icon"></i>Products List Breakdown
						</div>
						<div class="content">
							<products-breakdown-table></products-breakdown-table>
						</div>
						<div class="title">
							<i class="line chart icon"></i>Vulnerabilty Overview by Month
						</div>
						<div class="content" style="height: 1000px">
							<products-trends-directive></products-trends-directive>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>